<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Demacia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Demacia.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>/AvalonDock.Themes;component/themes/dev2010.xaml</value>
            </setting>
            <setting name="BitmapFontBuilderPath" serializeAs="String">
                <value>..\..\..\..\..\External\Bitmap Font Builder\Bitmap Font Builder.exe</value>
            </setting>
        </Demacia.Properties.Settings>
    </userSettings>
</configuration>